@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
* {
  -webkit-tap-highlight-color: transparent;
}

button {
  transition: transform 0.15s ease;
}
@keyframes softPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

/* Splash Screen */
.splash-screen {
  position: fixed;
  inset: 0;
  background: #ff6a3d;
  z-index: 9999;

  display: grid;
  place-items: center;

  /* mobile safe-area fix */
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);

  animation: slideUp 0.9s ease-in-out forwards;
  animation-delay: 2s;
}

.splash-content {
  text-align: center;

  /* visual center correction */
  transform: translateY(-5%);
  animation: fadeIn 0.8s ease-in-out;
}
